nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  padding: 1rem;
  background-color: rgb(206, 6, 39);
}

nav input {
  padding: 0.5rem;
  width: 400px;
  outline: none;
  border: none;
  border-radius: 1rem;
  font-size: 1.1em;
}

.logo-and-select {
  display: flex;
  gap: 3rem;
  align-items: center;
}

nav select {
  font-size: 1.2em;
  padding: 0.4rem;
  outline: none;
  border: 1px solid #333;
  border-radius: 8px;
  cursor: pointer;
}

nav select option {
  font-size: 1.2em;
  text-transform: capitalize;
}

.logoHomeSmall {
  width: fit-content;
  cursor: pointer;
  height: 90px;
}

nav .types-icon {
  align-items: center;
  justify-content: center;
  background-color: rgb(156, 156, 156);
  transition: 300ms linear; 
}

nav .types-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

nav .types-icon:hover p {
  color: #FFF;
}

@media (max-width: 910px) {
  nav input {
    width: 200px;
  }
}

@media (max-width: 700px) {
  nav input {
    width: 200px;
    margin-left: 0.5rem;
  }
}

@media (max-width: 480px) {
  nav input {
    width: 100px;
  }

  .logo-and-select {
    gap: 1rem;
  }
}